<launch>
  <node pkg="pci_boards_driver" name="cpz3177" type="cpz3177.py" required="true" output="screen">
    <param name="~rate" value="1" />
    <param name="~rsw_id" value="0" />
    <param name="~topic1" value="[cpz3177_ch1, 'single', 1]" />
    <param name="~topic2" value="[cpz3177_ch2, 'single', 1]" />
    <param name="~topic3" value="[cpz3177_ch3, 'single', 1]" />
    <param name="~topic4" value="[cpz3177_ch4, 'single', 1]" />
    <param name="~topic5" value="[cpz3177_ch5, 'single', 1]" />
    <param name="~topic6" value="[cpz3177_ch6, 'single', 1]" />
    <param name="~topic7" value="[cpz3177_ch7, 'single', 1]" />
    <param name="~topic8" value="[cpz3177_ch8, 'single', 1]" />
    <param name="~topic9" value="[cpz3177_ch9, 'single', 1]" />
    <param name="~topic10" value="[cpz3177_ch10, 'single', 1]" />
    <param name="~topic11" value="[cpz3177_ch11, 'single', 1]" />
    <param name="~topic12" value="[cpz3177_ch12, 'single', 1]" />
    <param name="~topic13" value="[cpz3177_ch13, 'single', 1]" />
    <param name="~topic14" value="[cpz3177_ch14, 'single', 1]" />
    <param name="~topic15" value="[cpz3177_ch15, 'single', 1]" />
    <param name="~topic16" value="[cpz3177_ch16, 'single', 1]" />
    <param name="~topic17" value="[cpz3177_ch17, 'single', 1]" />
    <param name="~topic18" value="[cpz3177_ch18, 'single', 1]" />
    <param name="~topic19" value="[cpz3177_ch19, 'single', 1]" />
    <param name="~topic20" value="[cpz3177_ch20, 'single', 1]" />
    <param name="~topic21" value="[cpz3177_ch21, 'single', 1]" />
    <param name="~topic22" value="[cpz3177_ch22, 'single', 1]" />
    <param name="~topic23" value="[cpz3177_ch23, 'single', 1]" />
    <param name="~topic24" value="[cpz3177_ch24, 'single', 1]" />
    <param name="~topic25" value="[cpz3177_ch25, 'single', 1]" />
    <param name="~topic26" value="[cpz3177_ch26, 'single', 1]" />
    <param name="~topic27" value="[cpz3177_ch27, 'single', 1]" />
    <param name="~topic28" value="[cpz3177_ch28, 'single', 1]" />
    <param name="~topic29" value="[cpz3177_ch29, 'single', 1]" />
    <param name="~topic30" value="[cpz3177_ch30, 'single', 1]" />
    <param name="~topic31" value="[cpz3177_ch31, 'single', 1]" />
    <param name="~topic32" value="[cpz3177_ch32, 'single', 1]" />
    <param name="~topic33" value="[cpz3177_ch33, 'single', 1]" />
    <param name="~topic34" value="[cpz3177_ch34, 'single', 1]" />
    <param name="~topic35" value="[cpz3177_ch35, 'single', 1]" />
    <param name="~topic36" value="[cpz3177_ch36, 'single', 1]" />
    <param name="~topic37" value="[cpz3177_ch37, 'single', 1]" />
    <param name="~topic38" value="[cpz3177_ch38, 'single', 1]" />
    <param name="~topic39" value="[cpz3177_ch39, 'single', 1]" />
    <param name="~topic40" value="[cpz3177_ch40, 'single', 1]" />
    <param name="~topic41" value="[cpz3177_ch41, 'single', 1]" />
    <param name="~topic42" value="[cpz3177_ch42, 'single', 1]" />
    <param name="~topic43" value="[cpz3177_ch43, 'single', 1]" />
    <param name="~topic44" value="[cpz3177_ch44, 'single', 1]" />
    <param name="~topic45" value="[cpz3177_ch45, 'single', 1]" />
    <param name="~topic46" value="[cpz3177_ch46, 'single', 1]" />
    <param name="~topic47" value="[cpz3177_ch47, 'single', 1]" />
    <param name="~topic48" value="[cpz3177_ch48, 'single', 1]" />
    <param name="~topic49" value="[cpz3177_ch49, 'single', 1]" />
    <param name="~topic50" value="[cpz3177_ch50, 'single', 1]" />
    <param name="~topic51" value="[cpz3177_ch51, 'single', 1]" />
    <param name="~topic52" value="[cpz3177_ch52, 'single', 1]" />
    <param name="~topic53" value="[cpz3177_ch53, 'single', 1]" />
    <param name="~topic54" value="[cpz3177_ch54, 'single', 1]" />
    <param name="~topic55" value="[cpz3177_ch55, 'single', 1]" />
    <param name="~topic56" value="[cpz3177_ch56, 'single', 1]" />
    <param name="~topic57" value="[cpz3177_ch57, 'single', 1]" />
    <param name="~topic58" value="[cpz3177_ch58, 'single', 1]" />
    <param name="~topic59" value="[cpz3177_ch59, 'single', 1]" />
    <param name="~topic60" value="[cpz3177_ch60, 'single', 1]" />
    <param name="~topic61" value="[cpz3177_ch61, 'single', 1]" />
    <param name="~topic62" value="[cpz3177_ch62, 'single', 1]" />
    <param name="~topic63" value="[cpz3177_ch63, 'single', 1]" />
    <param name="~topic64" value="[cpz3177_ch64, 'single', 1]" />
  </node>
</launch>