<launch>

  <node pkg="pci_boards_driver" name="cpz7415v_0x" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="0" />
    <param name="~axis" value="x" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_0y" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="0" />
    <param name="~axis" value="y" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_0z" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="0" />
    <param name="~axis" value="z" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_0u" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="0" />
    <param name="~axis" value="u" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_1x" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="1" />
    <param name="~axis" value="x" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_1y" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="1" />
    <param name="~axis" value="y" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_1z" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="1" />
    <param name="~axis" value="z" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

  <node pkg="pci_boards_driver" name="cpz7415v_1u" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="1" />
    <param name="~axis" value="u" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~mode" value='PTP' />
    <param name="~pls_num" value="100" />
    <param name="~mag" value="2999" />
    <param name="~fl_spd" value="250" />
    <param name="~fh_spd" value="30000" />
    <param name="~acc_rate" value="1000" />
    <param name="~dec_rate" value="1000" />
  </node>

</launch>
