<launch>

  <node pkg="pci_boards_driver" name="cpz7415v" type="cpz7415v.py" required="true" output="screen">
    <param name="~rate" value="0.01" />
    <param name="~rsw_id" value="0" />
    <param name="~node_name" value="cpz7415v" />
    
    <param name="~mode_x" value='JOG' />
    <param name="~position_x" value="0" />
    <param name="~clock_x" value="2999" />
    <param name="~fl_speed_x" value="250" />
    <param name="~fh_speed_x" value="10000" />
    <param name="~acc_rate_x" value="1000" />
    <param name="~dec_rate_x" value="1000" />

    <param name="~mode_y" value='PTP' />
    <param name="~position_y" value="0" />
    <param name="~clock_y" value="2999" />
    <param name="~fl_speed_y" value="250" />
    <param name="~fh_speed_y" value="10000" />
    <param name="~acc_rate_y" value="1000" />
    <param name="~dec_rate_y" value="1000" />

    <param name="~mode_z" value='STOP' />
    <param name="~position_z" value="0" />
    <param name="~clock_z" value="2999" />
    <param name="~fl_speed_z" value="250" />
    <param name="~fh_speed_z" value="10000" />
    <param name="~acc_rate_z" value="1000" />
    <param name="~dec_rate_z" value="1000" />

    <param name="~mode_u" value='STOP' />
    <param name="~position_u" value="0" />
    <param name="~clock_u" value="2999" />
    <param name="~fl_speed_u" value="250" />
    <param name="~fh_speed_u" value="10000" />
    <param name="~acc_rate_u" value="1000" />
    <param name="~dec_rate_u" value="1000" />
  </node>

</launch>
